<!DOCTYPE html>

<head>
    <title>index</title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body>
    <div id="app" class="has-background-light">

        <section id="hero" class="hero is-medium is-dark is-bold">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title is-size-1 has-text-danger">
                        Mission to Mars
                    </h1>
                    <a href="/scrape" class="button is-light" title="Get the latest from Mars">
                        Scrape Data
                    </a>
                </div>
            </div>
        </section>

        <section id="feature" class="p-5">
            <div class="container">
                <div class="my-3">
                    <h2 class="title">
                        Latest Mars News
                    </h2>
                    <p class="title is-5">
                        {{ mars_data.nasa_news.title }}
                    </p>
                    <p class="subtitle is-5">
                        {{ mars_data.nasa_news.text }}
                    </p>
                </div>
                <div class="container columns is-vcentered my-6">
                    <div class="column">
                        <h2 class="title">
                            Featured Mars Image
                        </h2>
                        <img src="{{ mars_data.nasa_jpl.featured_img_url }}" alt="Featured image">
                    </div>
                    <div class="column is-narrow">
                        {{ mars_data.mars_facts.html | safe }}
                    </div>
                </div>
            </div>
        </section>

        <section id="hemispheres" class="p-5">
            <div class="container">
                <h2 class="title has-text-centered">Mars Hemispheres</h2>
                <hr class="has-background-grey-light">
                <div class="columns is-multiline is-3">
                    {% for image in mars_data.astrogeology.img_urls %}
                        <div class="column is-half-desktop is-full-tablet">
                            <div class="card">
                                <div class="card-image p-3">
                                    <figure class="image">
                                        <img class="pb-3" src="{{ image.img_url }}" alt="{{ image.title }}">
                                        <figcaption class="subtitle py-3">{{ image.title }}</figcaption>
                                    </figure>
                                </div>                              
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

    </div>
</body>

</html>