<!DOCTYPE html>

<head>
    <title>index</title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body>
    <div id="app" class="has-background-light">

        <section id="hero" class="hero is-medium is-dark is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title is-size-1 has-text-danger">
                        Mission to Mars
                    </h1>
                    <a href="/scrape" class="button is-light" title="Get the latest from Mars">
                        Scrape Data
                    </a>
                </div>
            </div>
        </section>

        <section id="feature">
            <div class="container">
                <h2 class="title">
                    Latest Mars News
                </h2>
                <h3>
                    {{ mars_data.nasa_news.title }}
                </h3>
                <p>
                    {{ mars_data.nasa_news.text }}
                </p>
                <div class="container columns">
                    <div class="column is-two-thirds">
                        <h2 class="title">
                            Featured Mars Image
                        </h2>
                        <img src="{{ mars_data.nasa_jpl.featured_img_url }}" alt="">
                    </div>
                    <div class="column is-one-third">
                        {{ mars_data.mars_facts.html | safe }}
                    </div>
                </div>
            </div>
        </section>

        <section id="hemispheres">
            <div class="container">
                <div class="columns">
                    {% for image in mars_data.astrogeology.img_urls %}
                        <figure class="column">
                            <img src="{{ image.img_url }}" alt="{{ image.title }}">
                            <figcaption>{{ image.title }}</figcaption>
                        </figure>
                    {% endfor %}
                </div>
            </div>
        </section>

    </div>
</body>

</html>